.pagination {
  margin: 15px;
  margin-top: 0px;
}

#prev-page button {
  font-size: 30px;
  border: none;
}

#next-page button {
  font-size: 30px;
  border: none;
}

#prev-page button:disabled {
  display: none;
}

#next-page button:disabled {
  display: none;
}
