.users {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

#user-card {
  font-size: 25px;
  margin: 10px;
}

#user-card img {
  align-self: center;
  position: relative;
  max-width: 200px;
  height: 200px;
}
